.brand-title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  font-size: 16px;
}

.heading-title {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  font-size: 12px;
}

.heading-subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  font-size: 10px;
}

p,
.p-article {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.hero-is-fullheight {
  min-height: 100vh;
}
.hero-head {
  flex-grow: 0;
  flex-shrink: 0;
}
.hero-body {
  align-items: center;
  display: flex;
}
.hero-foot {
  flex-grow: 0;
  flex-shrink: 0;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
