.media-snippet {
  padding: 1.5rem;
}

.media {
  align-items: flex-start;
  display: flex;
  text-align: left;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}
.media-left {
  margin-right: 1rem;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 0px;
  margin-top: 0px;
}

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
}

.media .content:not(:last-child) {
  margin-bottom: 0.75rem;
}

.media-right {
  margin-left: 1rem;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}

.image {
  display: block;
  position: relative;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.level.is-mobile {
  display: flex;
}
.level-left {
  align-items: center;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
}
.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
}
